<p>
  <mat-toolbar class="first-tool-bar" color="primary">
    <span>
      <a routerLink="">Cloud teams UL</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li>
        <a
          mat-button
          *ngIf="isLogin === true"
          id="username"
          style="color: #798083"
          >{{ userName }}</a
        >
        <a
          mat-button
          routerLink="/login"
          routerLinkActive="mat-accent"
          *ngIf="isLogin === true"
          (click)="onLogout()"
          >Logout</a
        >
        <a
          mat-button
          routerLink="/login"
          routerLinkActive="mat-accent"
          *ngIf="isLogin === false"
          >Login</a
        >
      </li>
    </ul>
  </mat-toolbar>
</p>
