<section>
  <button mat-raised-button routerLink="/machines/new" color="primary">
    Add new machine
  </button>
</section>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
</mat-form-field>

<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  #tabla1
  matSort
>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef></th>
    <mat-cell *matCellDef="let machine">
      <button
        class="maintbtn"
        [routerLink]="['/maintenances', machine.assetcode]"
        mat-raised-button
        color="primary"
      >
        Maintenances
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="asset">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Asset</th>
    <td mat-cell *matCellDef="let machine">
      {{ machine.asset }}
    </td>
  </ng-container>

  <ng-container matColumnDef="assetcode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
    <td mat-cell *matCellDef="let machine">
      {{ machine.assetcode }}
    </td>
  </ng-container>

  <ng-container matColumnDef="trademark">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Trademark</th>
    <td mat-cell *matCellDef="let machine">
      {{ machine.trademark }}
    </td>
  </ng-container>

  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
    <td mat-cell *matCellDef="let machine">
      {{ machine.model }}
    </td>
  </ng-container>

  <ng-container matColumnDef="series">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Series</th>
    <td mat-cell *matCellDef="let machine">
      {{ machine.series }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <mat-cell *matCellDef="let machine">
      <button
        class="editbtn"
        [routerLink]="['/machines/edit', machine.id]"
        mat-button
        color="primary"
      >
        Edit machine
      </button>
      <button
        class="deletebtn"
        mat-button
        color="warn"
        (click)="onDelete(machine.id)"
      >
        Delete
      </button>
    </mat-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let dataSource; columns: columnsToDisplay"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      No data matching the filter "{{ input.value }}"
    </td>
  </tr>
</table>
<mat-paginator
  [pageSize]="15"
  [pageSizeOptions]="[5, 10, 15]"
  showFirstLastButtons=""
></mat-paginator>
